
{% extends 'base.html' %}

{% block content %}


<h2>{{ object.title }}</h2>
{% comment %} <p>{{ object.description }}</p> {% endcomment %}



    {% for ev in object.event_set.all %}
    



    

  <div class="card" style="width: 18rem;">
   

            {% if ev.img %}
            <img src="{{ ev.img.url }}" class="h-50 d-inline-block" alt="...">
            {% else %}
            <p></p>
            {% endif %}

                  <div class="card-body">
                      <h5 class="card-title">{{ev.title}}</h5>
                     

                   </div>

                <div class="card-body">
                    <a href="{{ev.get_absolute_url}}" class="card-link">Подробнее</a>
                </div>
    
    </div>

    

{% endfor %}
    





{% endblock content %}


