{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h3>{% block title %} {{ event.title }} {% endblock title %}</h3>

      </div>
    </div>
 


        <h4>{{ reviews.count }} {% if reviews.count > 1 %} отзывa {% elif  reviews.count < 1 %} отзывов {%else%}отзыв {% endif %}</h4>

        {% for review in reviews %}
        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
                  <!-- comments -->
              {{ review.event }}
              <div class="col-md-8 card mb-4  mt-3" style="padding: 10px;">
                  <p> 
                    
                    {{ review.body | linebreaks }}

                  </p>

                
              
              </div>
              
              <p class="font-weight-bold">
                    
                {{ review.created_on }}
                пользователь
                {{ review.author }}

              </p>
          </div>
        </div>
        {% endfor %}
      
    
    
        {% if new_review %}
        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        {% if request.user.is_authenticated %}

        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ review_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
      </div>
    </div>
        {% endif %}
        {% endif %}
    
  </div>
</div>
{% endblock content %}